{% extends 'base.html' %}

{% block content %}


{% if options=='return to login' %}

<div class="container">
    <h3> {{ notice_msg }}</h3>
    <form id="delSessionEmail" action="home" method="POST">
        <label for="submit"></label>
        <input type="submit" value="Return to Home">
    </form>
</div>

{% elif options=='return to home' %}

<div class="container">
    <h3> {{ notice_msg }}</h3>
    <form id="home" action="home" method="GET">
        <label for="submit"></label>
        <input type="submit" value="Return to Home">
    </form>
</div>

{% else %}

<div class="container">
    <h3> {{ notice_msg }}</h3>

</div>

{% endif %}



{% endblock %}